.doublell-visualiser {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.doubly-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.node {
    display: flex;
    align-items: center;
    position: relative;
}

.circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
}

.arrow {
    font-size: 20px;
    margin: 0 10px;
}

.arrows {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.arrow.up {
    transform: rotate(-90deg);
}

.arrow.down {
    transform: rotate(90deg);
}

.null {
    margin: 0 10px;
    font-size: 20px;
}