
.lists-visualiser {
    text-align: center;
    margin-top: 50px;
}

input {
    margin-right: 10px;
    padding: 5px;
}

.list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    flex-wrap: wrap;
}

.node {
    display: flex;
    align-items: center;
    margin: 10px;
}

.circle {
    width: 50px;
    height: 50px;
    border: 2px solid #000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    color: #000;
}

.arrow {
    margin: 0 10px;
    font-size: 24px;
}

.null {
    font-size: 24px;
    margin-left: 10px;
}

/* Dark mode styles */
body.dark-mode .circle {
    border: 2px solid #fff;
    background-color: #444;
    color: #fff;

}

body.dark-mode .arrow,
body.dark-mode .null {
    color: #fff;
}


@media (max-width: 768px) {
    .list {
        flex-direction: column;

        align-items: center;
    }

    .node {
        flex-direction: column;

        margin: 10px 0;

    }

    .arrow {
        transform: rotate(90deg);

        margin: 10px 0;

    }
}

@media (max-width: 480px) {
    .circle {
        width: 40px;

        height: 40px;
        font-size: 14px;

    }
}